# Documentation:
#   https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html

set visible-stats on
set editing-mode vi
set keymap vi
set show-all-if-ambiguous on
set mark-symlinked-directories on
