# Documentation:
# * https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html

set visible-stats on
set editing-mode vi
set keymap vi
set show-all-if-ambiguous on
set mark-symlinked-directories on

# Handle some special keycodes
# See also ~/.Xresources
# Note: This is not good enough yet, but perhaps better than nothing?
"\e[32;2u": " "
"\e[32;5u": " "
"\e[32;6u": " "
#"\e[9;2u": "\t"
"\e[9;5u": "\t"
"\e[9;6u": "\t"
"\e[13;2u": accept-line
"\e[13;5u": accept-line
"\e[13;6u": accept-line
