# See also /etc/sioyek/keys.config

goto_beginning;goto_top_of_page gg
goto_end;goto_bottom_of_page G

next_page;goto_top_of_page J
previous_page;goto_top_of_page K

move_down j
move_up k

#overview_definition L
keyboard_overview L

prev_state <C-o>
next_state <C-i>

fit_to_page_height <f7>
fit_to_page_height_smart <f8>

toggle_dark_mode d

add_highlight H
delete_highlight <C-h>
