# See also /etc/sioyek/prefs.config

dark_mode_contrast      0.7
text_highlight_color    0.1 0.1 0.6
search_highlight_color  0.6 0.4 0.1
link_highlight_color    0.0 0.0 1.0
synctex_highlight_color 0.1 0.6 0.4

vertical_move_amount    3.0
horizontal_move_amount  3.0

#move_screen_percentage  0.5

inverse_search_command  nvim --headless -c "VimtexInverseSearch %2 '%1'"

hover_overview          1
