! Colors (solarized dark)
#define S_yellow  #b58900
#define S_orange  #cb4b16
#define S_red     #dc322f
#define S_magenta #d33682
#define S_violet  #6c71c4
#define S_blue    #268bd2
#define S_cyan    #2aa198
#define S_green   #859900
#define S_base03  #002b36
#define S_base02  #073642
#define S_base01  #586e75
#define S_base00  #657b83
#define S_base0   #839496
#define S_base1   #93a1a1
#define S_base2   #eee8d5
#define S_base3   #fdf6e3

! General terminal colors
*color0:  S_base02
*color1:  S_red
*color2:  S_green
*color3:  S_yellow
*color4:  S_blue
*color5:  S_magenta
*color6:  S_cyan
*color7:  S_base2
*color8:  S_base03
*color9:  S_orange
*color10: S_base01
*color11: S_base00
*color12: S_base0
*color13: S_violet
*color14: S_base1
*color15: S_base3

! Font settings
Xft.autohint:  false
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault

! xterm settings
xterm*background:    S_base03
xterm*foreground:    S_base0
xterm*faceName:      xft:Inconsolata\\-g for Powerline:pixelsize=14,xft:Iosevka:style=light:pixelsize=16
xterm*dynamicColors: true
xterm*utf8:          2
xterm*eightBitInput: true
xterm*saveLines:     512

! urxvt settings
URxvt.termName:          rxvt-256color
URxvt.saveLines:         65535
URxvt.intensityStyles:   false
URxvt.internalBorder:    0
URxvt.allow_bold:        true
URxvt.font:              xft:Inconsolata\\-g for Powerline:pixelsize=14, \
                         xft:Iosevka:style=light:pixelsize=16
URxvt*letterSpace:       0
URxvt.scrollBar:         false
URxvt.perl-ext-common:   default,matcher,resize-font,-confirm-paste
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:    1
URxvt.pointerBlank:      true
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt.secondaryScreen:   1
URxvt.secondaryScroll:   0
URxvt*background:        S_base03
URxvt*foreground:        S_base0
URxvt*fading:            20
URxvt*fadeColor:         S_base03
URxvt*cursorColor:       S_base1
URxvt.iso14755:          false
URxvt.iso14755_52:       false

! Add keysyms for special keycodes
! See: https://unix.stackexchange.com/questions/631241/mapping-otherwise-conflicting-or-unmappable-keys-in-terminal-vim
! See also:
! * ~/.tmux.conf
! * ~/.inputrc
/* URxvt*keysym.ISO_Left_Tab:   \033[9;2u */
URxvt*keysym.C-Tab:          \033[9;5u
URxvt*keysym.C-ISO_Left_Tab: \033[9;6u
URxvt*keysym.S-Return:       \033[13;2u
URxvt*keysym.C-Return:       \033[13;5u
URxvt*keysym.C-S-Return:     \033[13;6u
URxvt.keysym.S-space:        \033[32;2u
URxvt*keysym.C-space:        \033[32;5u
URxvt*keysym.C-S-space:      \033[32;6u
URxvt*keysym.C-i:            \033[105;5u
URxvt*keysym.C-0:            \033[48;5u
URxvt*keysym.C-1:            \033[49;5u
URxvt*keysym.C-2:            \033[50;5u
URxvt*keysym.C-3:            \033[51;5u
URxvt*keysym.C-4:            \033[52;5u
URxvt*keysym.C-5:            \033[53;5u
URxvt*keysym.C-6:            \033[54;5u
URxvt*keysym.C-7:            \033[55;5u
URxvt*keysym.C-8:            \033[56;5u
URxvt*keysym.C-9:            \033[57;5u
URxvt*keysym.C-A:            \033[65;5u
URxvt*keysym.C-B:            \033[66;5u
URxvt*keysym.C-C:            \033[67;5u
URxvt*keysym.C-D:            \033[68;5u
URxvt*keysym.C-E:            \033[69;5u
URxvt*keysym.C-F:            \033[70;5u
URxvt*keysym.C-G:            \033[71;5u
URxvt*keysym.C-H:            \033[72;5u
! NOT WORKING IN VIM
URxvt*keysym.C-I:            \033[73;5u
! NOT WORKING IN VIM
URxvt*keysym.C-J:            \033[74;5u
URxvt*keysym.C-K:            \033[75;5u
URxvt*keysym.C-L:            \033[76;5u
URxvt*keysym.C-M:            \033[77;5u
URxvt*keysym.C-N:            \033[78;5u
URxvt*keysym.C-O:            \033[79;5u
URxvt*keysym.C-P:            \033[80;5u
URxvt*keysym.C-Q:            \033[81;5u
URxvt*keysym.C-R:            \033[82;5u
URxvt*keysym.C-S:            \033[83;5u
URxvt*keysym.C-T:            \033[84;5u
URxvt*keysym.C-U:            \033[85;5u
URxvt*keysym.C-V:            \033[86;5u
URxvt*keysym.C-W:            \033[87;5u
URxvt*keysym.C-X:            \033[88;5u
URxvt*keysym.C-Y:            \033[89;5u
URxvt*keysym.C-Z:            \033[90;5u
URxvt*keysym.S-F1:           \033[1;2P
URxvt*keysym.S-F2:           \033[1;2Q
URxvt*keysym.S-F3:           \033[1;2R
URxvt*keysym.S-F4:           \033[1;2S
URxvt*keysym.S-F5:           \033[15;2~
URxvt*keysym.S-F6:           \033[17;2~
URxvt*keysym.S-F7:           \033[18;2~
URxvt*keysym.S-F8:           \033[19;2~
URxvt*keysym.S-F9:           \033[20;2~
URxvt*keysym.S-F10:          \033[21;2~
URxvt*keysym.S-F11:          \033[23;2~
URxvt*keysym.S-F12:          \033[24;2~
URxvt*keysym.C-F1:           \033[1;5P
URxvt*keysym.C-F2:           \033[1;5Q
URxvt*keysym.C-F3:           \033[1;5R
URxvt*keysym.C-F4:           \033[1;5S
URxvt*keysym.C-F5:           \033[15;5~
URxvt*keysym.C-F6:           \033[17;5~
URxvt*keysym.C-F7:           \033[18;5~
URxvt*keysym.C-F8:           \033[19;5~
URxvt*keysym.C-F9:           \033[20;5~
URxvt*keysym.C-F10:          \033[21;5~
URxvt*keysym.C-F11:          \033[23;5~
URxvt*keysym.C-F12:          \033[24;5~
URxvt*keysym.C-S-F1:         \033[1;6P
URxvt*keysym.C-S-F2:         \033[1;6Q
URxvt*keysym.C-S-F3:         \033[1;6R
URxvt*keysym.C-S-F4:         \033[1;6S
URxvt*keysym.C-S-F5:         \033[15;6~
URxvt*keysym.C-S-F6:         \033[17;6~
URxvt*keysym.C-S-F7:         \033[18;6~
URxvt*keysym.C-S-F8:         \033[19;6~
URxvt*keysym.C-S-F9:         \033[20;6~
URxvt*keysym.C-S-F10:        \033[21;6~
URxvt*keysym.C-S-F11:        \033[23;6~
URxvt*keysym.C-S-F12:        \033[24;6~

! Load local settings
#include ".Xlocal"
