[user]
  name = Karl Yngve Lervåg
  email = karl.yngve+git@gmail.com

[init]
  defaultBranch = main

[core]
  pager = delta
  excludesfile = ~/.gitignore
  quotepath = off

[delta]
  file-style = bold yellow
  file-decoration-style = bold yellow ul
  hunk-header-style = bold blue
  hunk-header-decoration-style = omit
  syntax-theme = Solarized (dark)

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[color "status"]
  added = green
  changed = yellow bold
  untracked = red bold

[alias]
  ci = commit
  co = checkout
  st = status
  lg  = log       --decorate --graph --date=short --format=format:'%Cblue%h%Creset %Cgreen%ad (%ar)%C(bold yellow)%d%Creset%n        %C(white)%s%Creset%n        %an'
  lga = log --all --decorate --graph --date=short --format=format:'%Cblue%h%Creset %Cgreen%ad (%ar)%C(bold yellow)%d%Creset%n        %C(white)%s%Creset%n        %an'
  changelog = log --first-parent --decorate --date=short --format=format:'%C(bold white)%s %Cblue%h%C(yellow)%d%Creset%n%b'
  rv-files = !git diff --name-only $(git merge-base HEAD \"${REVIEW_BASE:-master}\")
  rv-st = !git diff --stat $(git merge-base HEAD \"${REVIEW_BASE:-master}\")
  rv-one = !$EDITOR -p +\"tabdo Gdiff ${REVIEW_BASE:-master}\" +WinResize
  rv-all = !git rv-one $(git rv-files)

[commit]
  verbose = true

[diff]
  algorithm = histogram
  indentHeuristic = true
  colorMoved = default

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[merge]
  tool = mydiff
  conflictStyle = diff3
  log = true

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "mydiff"]
  cmd = $EDITOR -f -d "$LOCAL" "$MERGED" "$REMOTE" +MergeMode

[push]
  default = simple

[pull]
  ff = only

[grep]
  extendedRegexp = true

[rerere]
  enabled = true

[fetch]
  prune = true

[include]
  path = .gitconfig-local

[includeIf "gitdir:~/sikt/"]
  path = .gitconfig-work

[includeIf "gitdir:~/.vim/"]
  path = .gitconfig-personal
