[user]
  name = Karl Yngve Lervåg
  email = karl.yngve+git@gmail.com

[core]
  ; pager = diff-so-fancy | less --tabs=4 -RFX
  ; editor = vim
  excludesfile = ~/.gitignore
  quotepath = off

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[color "status"]
  added = green
  changed = yellow bold
  untracked = red bold

[alias]
  ci = commit
  co = checkout
  st = status
  lg  = log       --decorate --graph --date=short --format=format:'%Cblue%h%Creset %Cgreen%ad (%ar)%C(bold yellow)%d%Creset%n        %C(white)%s%Creset%n        %an'
  lga = log --all --decorate --graph --date=short --format=format:'%Cblue%h%Creset %Cgreen%ad (%ar)%C(bold yellow)%d%Creset%n        %C(white)%s%Creset%n        %an'
  rv-files = !git diff --name-only $(git merge-base HEAD \"${REVIEW_BASE:-master}\")
  rv-st = !git diff --stat $(git merge-base HEAD \"${REVIEW_BASE:-master}\")
  rv-one = !$EDITOR -p +\"tabdo Gdiff ${REVIEW_BASE:-master}\" +WinResize
  rv-all = !git rv-one $(git rv-files)

[commit]
  verbose = true

[diff]
  algorithm = patience
  indentHeuristic = true

[diff-so-fancy]
  markEmptyLines = false

[merge]
  tool = mydiff
  conflictStyle = diff3

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "mydiff"]
  cmd = $EDITOR -f -d $LOCAL $MERGED $REMOTE -c "MergeMode"

[push]
  default = simple

[grep]
  extendedRegexp = true

[include]
  path = .gitconfig-local

[includeIf "gitdir:~/sintef/"]
  path = .gitconfig-work

[includeIf "gitdir:~/.vim/"]
  path = .gitconfig-personal
